*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.header{
    width: 100%;
    height: 75px;
    background-color: #222222;
    position: fixed;
    z-index: 1;
    top: 0;
    
}
.header__conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-link{
    
}



.popup{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;/*скролл*/
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup:target{
    opacity:1;
    visibility: visible;
}
popup:target .popup__content{
    transform: translate(0px,0px);
    opacity: 1;
}

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body{
    min-height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content{
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;/*--для крестика*/

    transition: all 0.8s ease 0s;
    /* opacity:0;
    transform: translate(0px,-100%); */
}
.popup__close{
    position: absolute;/*---*/
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.popup__title{
    font-size: 40px;
    margin-bottom: 1em;
}
.popup__text{

}
